*{
    padding: 0;
    margin: 0;
   
}

#logo {
    width: 100px;
    padding-left: 24px;
    
}
nav ul li a {
    text-decoration: none;
    font-size: 20px ;
    font-weight: bold;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
a:link {
    color: rgb(178, 78, 158);
    }
a:visited {
     color: rgb(185, 17, 99);
    }
a:hover{
        color: rgb(130, 8, 8);
    }
s:active{
        color: rgb(232, 30, 57);
    }

    nav ul li {
        display: inline-block;
        padding-left: 175px;
    }
    nav ul {
        margin-right: 61px;
        margin-top: -71px;
        margin-left: 156px;
        border: double rgb(242, 124, 151) 4px;
    }
    header{
        background-color: rgb(255 240 246);
        height: 110px;
        position: sticky;
        top: 0;
        z-index: 1;
     }
     
     main{
    background-image: url(vintage-pink-telephone-assortment_23-2148913963.jpg);
      }
input[type=text], select, textarea {
    width: 96%;
    padding: 12px;
    border: 1px solid #c01163;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical;
}
  
  
input[type=submit] {
    margin-left: 274px;
    font-family: "Edu AU VIC WA NT Pre", cursive; 
    background-color: #c01163;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 11px;
    cursor: pointer;
}

  input[type=submit]:hover {
    background-color: #ce7c7c;
  }
  
  .container {
    font-family: "Edu AU VIC WA NT Pre", cursive;
    padding-bottom: 83px;
    padding-right: 617px;
    padding-top: 94px;
    padding-left: 235px;
    background-color: #f2f2f200;
}

.flexFooter img {
    margin-top: -40px;
    margin-left: -115px;
    width: 240px;
}
.flexFooter{
    font-family: "Edu AU VIC WA NT Pre", cursive; 
    background-color: rgb(255 240 246);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: -323px;
    margin-bottom: -52px;
    padding-top: 100px;

}
li {
    list-style: circle;
}
.copyright {
    font-family: "Edu AU VIC WA NT Pre", cursive; 
    text-align: center;
}
.contact .info {
    position: relative;
    top: -105px;
    right: -578px;
    list-style: none;}

.contact {
    margin-left: -539px;
}
    